# Multi-table SQL

In [1]:
import sqlite3

conn = sqlite3.connect('tracks.sqlite')
#connect to database tracks.sqlite, if it does not exist, will create one
cur = conn.cursor()
#create cursor to send commend to database
cur.execute('DROP TABLE IF EXISTS Artist')
cur.execute('DROP TABLE IF EXISTS Album')
cur.execute('DROP TABLE IF EXISTS Genre')
cur.execute('DROP TABLE IF EXISTS Track')

cur.execute('''CREATE TABLE Artist (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    name TEXT)''')

cur.execute('''CREATE TABLE Album (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE,
    title TEXT,
    artist_id INTEGER,
    FOREIGN KEY(artist_id) REFERENCES Artist(id))''')

cur.execute('''CREATE TABLE Genre (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE,
    name TEXT)''')

cur.execute('''CREATE TABLE Track (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE,
    title TEXT,
    rating INTEGER,
    len INTEGER,
    count INTEGER,
    album_id INTEGER,
    genre_id INTEGER,
    FOREIGN KEY(album_id) REFERENCES Album(id),
    FOREIGN KEY(genre_id) REFERENCES Genre(id))''')

In [2]:
cur.execute('''INSERT INTO Artist (name) VALUES ('Led Zepplin')''')
cur.execute('''INSERT INTO Artist (name) VALUES ('AC/DC')''')

cur.execute('''INSERT INTO Genre (name) VALUES ('Rock')''')
cur.execute('''INSERT INTO Genre (name) VALUES ('Metal')''')

cur.execute('''INSERT INTO Album (title, artist_id) VALUES ('Who Made Who', 2)''')
cur.execute('''INSERT INTO Album (title, artist_id) VALUES ('IV', 1)''')

cur.execute('''INSERT INTO Track (title, rating, len, count, album_id, genre_id)
    VALUES ('Black Dog', 5, 297, 0, 2, 1)''')
cur.execute('''INSERT INTO Track (title, rating, len, count, album_id, genre_id)
    VALUES ('Stairway', 5, 482, 0, 2, 1)''')
cur.execute('''INSERT INTO Track (title, rating, len, count, album_id, genre_id)
    VALUES ('About to Rock', 5, 313, 0, 1, 2)''')
cur.execute('''INSERT INTO Track (title, rating, len, count, album_id, genre_id)
    VALUES ('Who Made Who', 5, 207, 0, 1, 2)''')

conn.commit()

In [3]:
result1 = cur.execute(
'''SELECT Album.title, Artist.name 
    FROM Album JOIN Artist
    ON Album.artist_id = Artist.id''')

In [4]:
# cur.execute returns an iterator, but we can get all the rows at once by making it a list
# better to use a for loop!
list(result1)

[('Who Made Who', 'AC/DC'), ('IV', 'Led Zepplin')]

In [5]:
result2 = cur.execute('''SELECT * FROM  Album JOIN Artist
    ON Album.artist_id = Artist.id''')
print(list(result2))

[(1, 'Who Made Who', 2, 2, 'AC/DC'), (2, 'IV', 1, 1, 'Led Zepplin')]

In [6]:
result3 = cur.execute('''SELECT * FROM  Artist JOIN Album
    ON Album.artist_id = Artist.id''')
print(list(result3))

[(2, 'AC/DC', 1, 'Who Made Who', 2), (1, 'Led Zepplin', 2, 'IV', 1)]

In [7]:
result2 = cur.execute(
'''SELECT Track.title, Artist.name, Album.title, Genre.name
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.id AND Track.album_id = Album.id AND 
       Album.artist_id = Artist.id''')

In [8]:
list(result2)

[('Black Dog', 'Led Zepplin', 'IV', 'Rock'),
 ('Stairway', 'Led Zepplin', 'IV', 'Rock'),
 ('About to Rock', 'AC/DC', 'Who Made Who', 'Metal'),
 ('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')]

In [9]:
result4 = cur.execute(
'''SELECT *
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.id AND Track.album_id = Album.id AND 
       Album.artist_id = Artist.id''')
print(list(result4))

[(1, 'Black Dog', 5, 297, 0, 2, 1, 1, 'Rock', 2, 'IV', 1, 1, 'Led Zepplin'), (2, 'Stairway', 5, 482, 0, 2, 1, 1, 'Rock', 2, 'IV', 1, 1, 'Led Zepplin'), (3, 'About to Rock', 5, 313, 0, 1, 2, 2, 'Metal', 1, 'Who Made Who', 2, 2, 'AC/DC'), (4, 'Who Made Who', 5, 207, 0, 1, 2, 2, 'Metal', 1, 'Who Made Who', 2, 2, 'AC/DC')]

In [10]:
cur.close() # we are done sending commands to the DB for now   
conn.close() # we are completely done with the DB in this programconn.close()

# Many-to-Many Relationship

In [11]:
import sqlite3

conn = sqlite3.connect('courses.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS User')
cur.execute('DROP TABLE IF EXISTS Course')
cur.execute('DROP TABLE IF EXISTS Member')

cur.execute('''CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE,
    email  TEXT)''')

cur.execute('''CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE)''')

cur.execute('''CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id))''')

In [12]:
cur.execute('''INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org')''')
cur.execute('''INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org')''')
cur.execute('''INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org')''')

cur.execute('''INSERT INTO Course (title) VALUES ('Python')''')
cur.execute('''INSERT INTO Course (title) VALUES ('SQL')''')
cur.execute('''INSERT INTO Course (title) VALUES ('PHP')''')

cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (1, 1, 1)''')
cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (2, 1, 0)''')
cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (3, 1, 0)''')

cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (1, 2, 0)''')
cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (2, 2, 1)''')

cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (2, 3, 1)''')
cur.execute('''INSERT INTO Member (user_id, course_id, role) VALUES (3, 3, 0)''')

conn.commit()

In [13]:
result3 = cur.execute('''SELECT User.name, Member.role, Course.title
  FROM User JOIN Member JOIN Course
  ON Member.user_id = User.id AND Member.course_id = Course.id
  ORDER BY Course.title, Member.role DESC, User.name''')
list(result3)

[('Ed', 1, 'PHP'),
 ('Sue', 0, 'PHP'),
 ('Jane', 1, 'Python'),
 ('Ed', 0, 'Python'),
 ('Sue', 0, 'Python'),
 ('Ed', 1, 'SQL'),
 ('Jane', 0, 'SQL')]

In [14]:
result4 = cur.execute('''SELECT User.name, Member.role, Course.title
  FROM User JOIN Member JOIN Course
  ON Member.user_id = User.id AND Member.course_id = Course.id
  WHERE Member.role = 1''')

In [15]:
list(result4)

[('Jane', 1, 'Python'), ('Ed', 1, 'SQL'), ('Ed', 1, 'PHP')]

In [16]:
result5 = cur.execute('''SELECT User.name, Member.role, Course.title
  FROM User JOIN Member JOIN Course
  ON Member.user_id = User.id AND Member.course_id = Course.id  ORDER BY Member.role DESC LIMIT 1''')
list(result5)

[('Jane', 1, 'Python')]

In [17]:
cur.close() # we are done sending commands to the DB for now
conn.close() # we are completely done with the DB in this program